* {
    box-sizing: border-box;
}

:root {
    --dark: #242025;
    --btn: #7c6884;
    --btn-hover: #615167;
    --btn-active: #ac8db8;
    --background: #e4cfed;
}

body {
    background-color: var(--background);
    font-family: "Cause", cursive;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: var(--dark);
    font-size: 3rem;
    text-align: center;
}

#todo-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.todo-input {
    padding: 5px 10px;
    width: 100%;
    font-size: 1.2rem;
    color: var(--dark);
    border: none;
    border-radius: 50px;
}

.btn {
    padding: 6px 12px;
    color: #fff;
    font-size: 1.1rem;
    background-color: var(--btn);
    border: none;
    border-radius: 50px;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-active);
    color:  var(--dark);
}

#todo-list {
    margin-top: 30px;
}

p {
    font-size: 1.2rem;
    color: var(--dark);
}