* {
    box-sizing: border-box;
}

:root {
    --dark: #242025;
    --btn: #7c6884;
    --btn-hover: #615167;
    --btn-active: #ac8db8;
    --btn-green:  #6f7c73;
    --btn-red: #6a353b;
    --background: #e4cfed;
    --background-darker: #d0bbd8;
}

body {
    background-color: var(--background);
    font-family: "Cause", cursive;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: var(--dark);
    font-size: 3rem;
    text-align: center;
}

#todo-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.todo-input {
    padding: 5px 10px;
    width: 100%;
    font-size: 1.2rem;
    color: var(--dark);
    border: none;
    border-radius: 50px;
    outline: none;
}

input[type="submit"] {
    font-size: 1.1rem;
}

.btn {
    padding: 6px 12px;
    color: #fff;
    background-color: var(--btn);
    border: none;
    border-radius: 50px;
}

.btn:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
}

.btn:active {
    background-color: var(--btn-active);
    color:  var(--dark);
}

#todo-list {
    margin-top: 30px;
}

p {
    font-size: 1.2rem;
    color: var(--dark);
    margin: 0;
}

.checked {
    color: rgb(98, 97, 97);
    text-decoration: line-through;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.task-container-left,
.task-container-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.edit-input {
    width: 100%;
    background-color: var(--background-darker);
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 50px;
    padding-left: 15px;
      font-family: "Cause", cursive;
}

.btn-red:hover {
    background-color: var(--btn-red);
}

.btn-green:hover {
    background-color: var(--btn-green);
}

.stats {
    text-align: center;
    margin-block: 20px;
}